<h1>Lectures#show</h1>
<p>Find me in app/views/lectures/show.html.erb</p>

<%= render 'exercises/submission_upload' %>
<%= render 'shared/tray' %>

<%= cl_video_tag(@lecture.video.key, controls: true, 
transformation: [height: 360, width: 480, crop: "pad", quality: 85], fallback_content: "Your browser does not support HTML5 video tags." ) %>