<div class="lecture-show">
  <%= render 'shared/tray' %>
  <div class="lecture-show-content">
    <%= render "lecture" %>
  </div>

  <% unless current_user.courses_created.include?(@course) %>
    <!-- Calendly badge widget begin -->
    <script type="text/javascript"> document.addEventListener('turbolinks:load', () => {Calendly.initBadgeWidget({ url: 'https://calendly.com/soel-labat/30min?primary_color=6261ee', text: 'Schedule time with Cody', color: '#6261ee', textColor: '#ffffff'});})</script>
    <!-- Calendly badge widget end -->
  <% end %>

</div>


