.lecture-show {
  display: flex;
  width: 100%;
}

.lecture-show-content {
  // flex-grow: 2;
  width: 75%;
}

.lecture-show-content-tab {
  align-items: center;
  width: 100%;
  padding: 50px;
  video {
  height: 500px;
  width: 800px;
  }
}

.card-body {
  position: relative;
}

