.cards {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 16px;
  padding: 16px;
  padding-top: 32px;
  justify-content: center;
}

.card-category {
  /* sizing of container */
  height: 69vh;
  /* positioning in container */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* styling of container */
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  /* sizing of background image */
  background-size: cover;
  /* positioning of background image */
  background-position: center;

  /* styling of text contents */
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}

.course-title a  {
  font-family: Helvetica;
  font-size: 24px;
  padding-top: 8px;
  padding-left: 8px;
  text-decoration: none;
  color: white;
}

#enrollments-count {
  font-size: 16px;
  padding-left: 8px;
  margin-top: auto;
}
