.courses-container {
  display: inline-flex;
  width: 100vw;
  height: calc(100vh - 64px);

}

.course {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  min-height: 300px;
  height: 350px;
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
  width: 700px;
}

.course h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.course h2 {
  letter-spacing: 1px;
  margin: 10px 0;
}

.course-preview {
  background-color: #2A265F;
  color: #fff;
  padding: 30px;
  width: 325px;
  max-width: 350px;
  background-size: cover;
  background-repeat: no-repeat;
}



.course-dashboard-info{
  display: flex;
  height: 100%;
  flex-direction: column;
  .fas {
    min-width: 120px;
    width: 100%;
    font-size: 16px;
    padding: 8px 16px;
  }

  .course-info-text {
    font-family: Helvetica;
    font-weight: 500;
  }
}

.course-preview a {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 30px;
  text-decoration: none;
}

.course-info {
  padding: 30px;
  position: relative;
  width: 100%;
  .primary-button {
    bottom: 30px;
    right: 30px;
  }
  .positive-button {
    bottom: 30px;
  }
}
