<section id="hero-video">
    <%= video_tag("hero-video.mp4", :class => 'bgvideo', :autoplay => true, :muted => true, :loop => true, :size => "320x240")%>
  </video>
  <div id="overlay-text">
    <h1>Hello</h1>
  </div>
</section>
