#hero-video {

  /* flexbox */
  display: flex;
  justify-content: center;
  align-items: center;

  /* positioning */
  position: relative;
  top: -64px;
  height: 100.67vh;
  width: 100%;

  /* format styling */
  overflow: hidden;

  /* content styling */
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    overflow: hidden;
    z-index: -1;
  }
}

#overlay-text {
  font-size: 72px;
  color: rgb(253,222,173);
  z-index: 1;
  transition: 2s;
}


