#hero-video {

  /* flexbox */
  display: flex;
  justify-content: center;
  align-items: center;

  /* positioning */
  position: relative;
  top: -72px;
  height: 100.67vh;
  width: 100vw;

  /* format styling */
  overflow: hidden;

  /* content styling */
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));

}

#overlay-text {
  z-index: 1;
}

video {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
}

  // #bgvideo {
  //   height: 100vh;
  //   width: 100vw;
  //   position: absolute;
  //   z-index: -1;
  // }
