.navbar {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 56px 1fr 1fr 1fr;
  max-height: 64px;
  height: 64px;
  width: 100%;
  overflow-y: hidden;
  z-index: 1000;
  background-color: black;
  .nav-link {
    border-bottom: 2px solid transparent;
    color: rgba(228,231,233, 1);
    transition: 0.5s;
    }
  .nav-link:hover{
    border-bottom: 2px solid rgba(228,231,233, 0.5);
  }
}

.primary-nav {
  grid-column: 2 / 3;
  display: flex;
  list-style: none;
  justify-self: start;
  align-self: end;
  padding-right: 0px;
  padding-left: 0px;
  margin-bottom: 16px;
  }


.secondary-nav {
  grid-column: 4 / 5;
  display: flex;
  list-style: none;
  justify-self: end;
  .login {
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 8px;
    margin-right: 8px;
  }
  .admin-dashboard {
    margin-top: 9px;
  }
  .my-courses {
    margin-top: 9px;
  }
  .logout {
    margin-top: 9px;
  }
}


.navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  margin-bottom: 8px;
  img {
    width: 40px;
}
  }

.nav-scrolled {
    background-color: black !important;
}

.avatar {
  width: 48px;
}
