nav {
  /* positioning */
  position: absolute;
  background-color: blue;

  /* font style for nav */
  font-family: adelle-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  /* dimensions */
  height: 48px;
  width: auto;

  /* box properties */
  padding: 8px 0px;

  display: flex;
  justify-content: flex-start;
}

/* the navbar has been structured into three parts: primary, secondary and brand */

.primary-nav {
  /* dimensions */

  /* child content positioning */
  display: flex;
  box-sizing: border-box;
  // justify-content: flex-start;

  padding: 0px;

  /* child content style */
  list-style: none;

  a {
    border-right: .0625rem solid rgba(228,231,233, 0.3);
    color: rgb(212,212,250);
  }

  a:hover{
    border-right: 2px solid #fff;
  }

}

.secondary-nav {
  list-style: none;
  margin-left: auto;
  padding-right: 8px;
  box-sizing: border-box;


  a {
    border-left: .0625rem solid rgba(228,231,233, 0.3);
    color: rgb(212,212,250);
  }

  a:hover{
    border-left: 2px solid #fff;

  }
}


.navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  bottom: 8px;
  padding-left: 8px;
  img {
    width: 40px;
}
  }

.nav-item dropdown {
}

a.dropdown-divider {
    width: 100%;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
  padding: 4px 24px;
  padding-right: 49.5%;
  text-decoration: none;
}
