.submission-upload {
  width: 1500px;
  height: 300px;
}

.fas.fa-file-upload {
  font-size: 50px;
  color: royalblue;
  justify-content: center;
  padding-top: 40%;
}

.submissions-title {
  margin-top: 500px;
  margin-left: 50px;
}

