
.tray {
  overflow-y: scroll;
  position: fixed;
  height: 100vh;
  background-color: #FFFFFF;
  width: 256px;
  padding-top: 16px;
  border-right: 1px solid #e0e0e0;
  font-weight: 600;
  form{
    .primary-button{
      border: none;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    a, span {
      text-decoration: none;
    }
  }
}

.fa-pen {
  padding: 9px;
  margin-right: 10px;
  color: black;
  background-color: rgba(98, 97, 238, 0.6);
  border-radius: 5px;
  transition: 0.5s;
}

.fa-pen:hover {
  background-color: rgba(98, 97, 238, 1);

}

.fa-trash {
  padding: 9px;
  color: black;
  background-color: rgba(247, 22, 34, 0.6) ;
  border-radius: 5px;
  transition: 0.4s;
}

.fa-trash:hover {
  background-color: rgba(247, 22, 34, 1);
}

.lecture-card {
  a {
  color: #333;
  }
}

.lecture-card:hover{
  background-color: rgba(227,220,251, 0.4);
  border-radius: 0 24px 24px 0 !important;
}

.lecture-card.active {
  background-color: #E3DCFB;
  align-items: center;
  border-radius: 0 24px 24px 0 !important;
  padding: 8px 0px 8px 16px;

}

// .fa-pen {
//   cursor: pointer;
//   margin-left: 10px;
//   color: white;
//   background-color: #444444;
//   border-radius: 5px;
//   padding: 8px;
//   transition-duration: 1s;
// }




.add-lecture-container {
  justify-content: center;
  color: white;
}

