.lecture-show-content {
  position: relative;
  left: 25%;
}

.tray {
  overflow: scroll;
  position: fixed;
  max-height: 95vh;
  height: 100%;
  background-color: #6D6875;
  width: 100%;

  form {
    position: sticky !important;
    top: 0;
    background-color: #6D6875;
  }

  a, span{
    text-decoration: none;
    color: #333;
  }
}

.lecture-card.active {
  background-color: yellow;

}

.delete-lecture-icon-fake {
  cursor: pointer;
  margin-left: 10px;
}
