
.tray {
  overflow-y: scroll;
  position: fixed;
  height: 100vh;
  background-color: #FFFFFF;
  width: 256px;
  padding-top: 16px;
  border-right: 1px solid #e0e0e0;
  font-weight: 600;
  form{
    .primary-button{
      border: none;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
  }
    .primary-button:hover {
      background-color: #444444;
    }
  }
  a, span{
    text-decoration: none;

  }
}

.lecture-card {
  a {
  color: #333;
  }

}

.lecture-card.active {
  background-color: #E3DCFB;
  color: white;
  align-items: center;
  border-radius: 0 24px 24px 0 !important;
  padding: 8px 0px 8px 16px;

}

.the-pen {
  cursor: pointer;
  margin-left: 10px;
  color: white;
  background-color: #444444;
  border-radius: 5px;
  padding: 8px;
  transition-duration: 1s;
}

.delete-lecture-icon-fake {
    cursor: pointer;
    margin-left: 10px;
    color: white;
    background-color: #6261EE;
    border-radius: 5px;
    padding: 8px;
    transition-duration: 1s;
}

.add-lecture-container {
  justify-content: center;
  color: white;
}

