.lecture-show-content {
  position: relative;
  left: 25%;
}

.tray {
  position: fixed;
  height: 100vh;
  background-color: #6D6875;
  width: 250px;

  a, span{
    text-decoration: none;
    color: #333;
  }
}

.lecture-card.active {
  background-color: yellow;

}

.delete-lecture-icon-fake {
  cursor: pointer;
  margin-left: 10px;
}
