.add-lecture-container {
 display: flex;
 align-items: center;

 p {
   margin: 0;
   color: white;
 }
}

.add-lecture-button {
  height: 20px;
  width: 20px;
  padding: 5%;
  border-radius: 100%;
  margin-right: 10px;
  border: 1px solid #F4F4F4;
  background-color: #6953F4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F9F8F9 !important;

  &:hover {
    background-color: black;
  }
}
