// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "actiontext";
@import "trix/dist/trix";

// Your CSS partials
@import "components/index";
@import "components/submission_upload";
@import "components/tray";
@import "components/lecture_card";
@import "components/add_lecture_button";
@import "pages/index";
@import "courses/index";