.login-container {
  height: calc(100vh - 56px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background-color: white;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr 2fr;
  grid-template-columns: 1fr 1fr;
  height: 480px;
  width: 320px;
  box-shadow: 0 0 1px;
  .user_email {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    .form-control {
      font-size: 16px;
      border-width: 0px 0px 1px 0px;
    }
  }
  .user_password {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    .form-control {
      border-width: 0px 0px 1px 0px;
    }
  }
}

.new_user{
  grid-column: 1 / 3;
  grid-row: 2 / 6;
}

.login-remember {
  display: flex;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  justify-content: flex-end;
  font-size: 12px;
  .user_remember_me{
    margin-right: 55px;
    .form-check-input {
      margin-top: 2px;
    }
  }
}

.login-logo {
  display: flex;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  justify-content: center;
  align-items: center;
}

.login-username {
  display: flex;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  justify-content: center;
}

.login-password {
  height: 48px;
  width: auto;
  display: flex;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  justify-content: center;

}

.login-retrieval {
  display: flex;
  justify-content: flex-end;
  grid-column: 2 / 3;
  .password-forgotten {
    width: 150px;
    font-size: 12px;
  }
}

.login-signup {
  justify-content: flex-start;
  display: flex;
  grid-column: 1 / 2;
  grid-row: 6 / 7;
  font-size: 12px;
  padding-left: 15px;
}

.login-button {
  display: flex;
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  justify-content: center;
  align-items: end;
  padding-top: 24px;
}

.login-logo-image {
  height: 64px;
  width: 64px;
}
